/node_modules
/public/build
/public/hot
/public/storage
/public/documents_copy
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
storage/app/documents/
storage/app/Documents/
storage/framework/cache/
public/assets/angular
