<div class="container-fluid p-0">
  <div class="row g-0">
    <div class="{{allowPassword ? 'col-lg-8' : 'col-lg-12'}}">
      <div class="auth-bg">
          <div class="bg-overlay" style='background-image: url("assets/images/login-image.png");' *ngIf="!showFolder;"></div>
          <div class="content-block" *ngIf="showFolder;">
            <div class="block-header">
              <div class="breadcrumb-main">
                <div class="row">
                  <div class="col-12">
                    <div class="breadcrumb-title">
                      <h2>{{'DOCUMENTS' | translate}}</h2>
                      <h2 class="breadCrumbx_show" style="display: flex; cursor: pointer;">
                        <ng-container *ngIf="breadCrumbArray.length > 0">
                          <div>
                            <i class="fas fa-angle-double-left" (click)="getparentbreadCrumb(parentfolderId,2)"></i>
                          </div>
                        </ng-container>
                      <div *ngFor="let obj of breadCrumbArray" (click)="getparentbreadCrumb(obj.id,3)">
                       /{{ obj.name}}
                      </div>
                      </h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                  <div class="body">
                    <div class="row">
                    </div>
                    <div class="row">
                      <div class="col">
                        <div class="table-responsive">
                          <table mat-table [dataSource]="dataSource" class="w-100" matSort matSortActive="createdDate"
                            matSortDirection="desc" matSortDisableClear>
                            <ng-container matColumnDef="action">
                              <th mat-header-cell *matHeaderCellDef>{{'ACTION' | translate}} </th>
                              <td mat-cell *matCellDef="let document">
                                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Action">
                                  <mat-icon>more_vert</mat-icon>
                                </button>
                                <mat-menu #menu="matMenu">
                                  <button class="btn btn-light btn-sm" mat-menu-item (click)="onDocumentView(document)"
                                    type="button" [disabled]="!document.mimeType">
                                    <mat-icon>visibility</mat-icon>
                                    {{'VIEW' | translate}}
                                  </button>
                                  <button class="btn btn-light btn-sm"
                                    mat-menu-item (click)="downloadDocument(document)" type="button" [disabled]="allowType != 2">
                                    <mat-icon>download</mat-icon>
                                    {{'DOWNLOAD' | translate}}
                                  </button>
                                </mat-menu>
                              </td>
                            </ng-container>
                            <!-- <ng-container matColumnDef="name">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'NAME' | translate}} </th>
                              <td mat-cell *matCellDef="let document">
                                <a class="breadCrumbx_btn"  (click)="getbreadCrumb(document)">
                                  <ng-container *ngIf="document.mimeType;else second"><i class="fas fa-file-alt"></i></ng-container>
                                  <ng-template #second>
                                    <i class="fas fa-folder"></i>
                                  </ng-template>
                                  {{document.name}}
                                  <ng-container *ngIf="document.mimeType;">.{{document.mimeType}}</ng-container>
                                </a>
                              </td>
                            </ng-container> -->
                            <ng-container matColumnDef="name">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'NAME' | translate}} </th>
                              <td mat-cell *matCellDef="let document">
                                <ng-container *ngIf="document.mimeType;">
                                  <a class="breadCrumbx_btn"  (click)="onDocumentView(document)">
                                    <i class="fas fa-file-alt"></i>
                                    {{document.name}}<ng-container *ngIf="document.mimeType;">.{{document.mimeType}}</ng-container>
                                  </a>
                                </ng-container>
                                <ng-container *ngIf="!document.mimeType;">
                                  <a class="breadCrumbx_btn"  (click)="getbreadCrumb(document)">
                                    <i class="fas fa-folder"></i>
                                    {{document.name}}
                                  </a>
                                </ng-container>
                              </td>
                            </ng-container>
                            <ng-container matColumnDef="categoryName">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'DOCUMENT_CATEGORY' | translate}}</th>
                              <td mat-cell *matCellDef="let document"> {{document.categoryName}}</td>
                            </ng-container>
                            <ng-container matColumnDef="createdDate">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'CREATED_DATE' | translate}} </th>
                              <td mat-cell *matCellDef="let document"> {{document?.createdDate | date:"dd/MM/yyyy hh:mm:ss"}}
                              </td>
                            </ng-container>
                            <ng-container matColumnDef="createdBy">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'CREATED_BY' | translate}} </th>
                              <td mat-cell *matCellDef="let document"> {{document.createdByName}} </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                          </table>
                          <ng-container *ngIf="dataSource.count === 0">
                            <div class="col-sm-12 m-t-15">
                              <strong>{{'NO_DATA_FOUND' | translate}}</strong>
                            </div>
                          </ng-container>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="col-lg-4" *ngIf="allowPassword;">
      <div class="auth-content p-4 d-flex align-items-center min-vh-100">
        <div class="w-100">
          <div class="row justify-content-center">
            <div class="col-lg-9">
              <div>
                <div class="text-center">
                  <div class="m-b-10">
                    <a class="logo-full"><img src="assets/images/login-logo.png" alt="logo-full"></a>
                  </div>
                </div>
                <div class="p-2 mt-5">
                  <form [formGroup]="verifyForm">
                    <div class="col-sm-12">
                      <div class="mb-3">
                        <label class="form-label">{{'PASSWORD' | translate}}</label>
                        <input formControlName="password" type="password" class="form-control" placeholder="Password"
                          aria-label="To" aria-describedby="password" [(ngModel)]="formpassword" >
                        <div class="text-danger"
                          *ngIf="verifyForm.get('password').touched  && verifyForm.get('password').hasError('required')">
                          {{'PASSWORD_IS_REQUIRED' | translate}}
                        </div>
                      </div>
                    </div>
                    <div class="container-login100-form-btn">
                      <button (click)="submitPassword(formpassword)" mat-flat-button color="primary" class="login100-form-btn btn-sm" type="submit" [disabled]="!allowPassword">
                        {{'SUBMIT' | translate}}
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

